{% extends "base.html" %}

{% block content %}

    <div class="about">
        <div class="about-container">
            <h1>about me</h1>
            <h3>intro</h3>
            <p>My name is Ruben and I'm a 32 years old, self-taught, web developer living in Porto, Portugal. I work mainly with <span class = "highlight">HTML + CSS</span> and
                <span class = "highlight">Vanilla JS</span> for the frontend and with <span class = "highlight">Python (<a href = "https://flask.palletsprojects.com/"><span class = "highlight">Flask</span></a>)</span> for the backend.</p>
            <h3>becoming a developer</h3>
            <p>
                I've worked on IT for around 11 years and more recently, I took a position as a Software Engineer - Tools (DevOps tasks mainly) at a new company. Although having a more technical profile,
                I've always enjoyed the web development area, therefore, during the pandemics and after a few months in quarentine, I've took all the free time that I've had and spend it studying it. <br>
            </p>
            <h3>irrelevant stuff <img src = "../../static/img/happiness.png"></h3>
            <p>
                <img src = "../../static/img/baby.png"> I'm a dad<br>
                <img src = "../../static/img/console.png"> I love to play video games<br>
                <img src = "../../static/img/soccer-ball.png"> I play football from time to time and I'm a <a href = "https://www.fcporto.pt/"><b>FCP</b></a> fan!!
            </p>
        </div>
    </div>

{% endblock %}