{% extends "base.html" %}

{% block content %}

    <div class = "about">
        <div class = "about-container">
            <div class = "about-container-content">
                <h2>About Me</h2>
                <p><img class = "me" src = "../../static/img/me.jpg" alt = "me"></p>
                <p>My name is <span class = "highlighter">Ruben</span>, I'm 32 years old and I'm a web developer living in <span class = "highlighter">Porto, Portugal</span>.</p>
                <p>I've worked on IT for 11 years and more recently I took a position as a DevOps Engineer, however, I've always had a soft spot for web development and, during the
                pandemics, I've used all the free time that I had and invested in learning more about it.</p>
                <p>Regarding the tech that I use, I mainly build websites using <span class = "highlighter">HTML + CSS</span> (of course <img class = "smiley" src = "../../static/img/happiness.png">) and <span class = "highlighter">Vanilla JS</span>.
                More recently, I've started working with the framework <span class = "highlighter">Flask (Python)</span> - which was used to build this website.</p>
            </div>
        </div>
    </div>

{% endblock %}