{% extends "base.html" %}

{% block content %}

    <div class="projects">
        <div class="projects-container">
            <h1>my work</h1>
            {% for name in names %}
            {% for description in descriptions %}
            {% for url in urls %}
            {% for git in gits %}
            <a href = "{{ url }}">
                <div class = "projects-item">
                    <div class = "projects-item-content">
                        <h3>{{ name }}</h3>
                        <p>{{ description }}</p>
                    </div>
                </div>
            </a>
            {% endfor %}
            {% endfor %}
            {% endfor %}
            {% endfor %}
        </div>
    </div>

{% endblock %}