<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset = "UTF-8">
        <meta http-equiv = "X-UA-Compatible" content = "IE=edge">
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
        <link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/style.css') }}">
        <title>Ruben Oliveira</title>
    </head>

    <body>
        <nav class = "navbar">
            <div class = "navbar-container">
                <div class = "navbar-logo">
                    <div class="navbar-logo-img">
                        RO
                    </div>
                </div>
                <div class = "navbar-links">
                    <a href = "/">// home</a>
                    <a href = "/about">// about</a>
                    <a href = "/projects">// projects</a>
                </div>
            </div>
        </nav>

        {% block content %}{% endblock %}

        <footer class="footer">
            <div class="footer-container">
                <p>2021 Ruben Oliveira - All rights reserved</p>
            </div>
        </footer>

    </body>
</html>