<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset = "UTF-8">
        <meta http-equiv = "X-UA-Compatible" content = "IE=edge">
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
        <meta name = "description" content = "Ruben Oliveira's personal website.">
        <link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/style.css') }}">
        <title>Ruben Oliveira</title>
    </head>

    <body>
        <nav class = "navbar">
            <div class = "navbar-container">
                <div class = "navbar-logo">
                    <a href = "/">
                        <div class="navbar-logo-img">RO</div>
                    </a>
                </div>
                <div class = "navbar-links">
                    <a href = "/"><b>home</b></a>
                    <a href = "/about"><b>about</b></a>
                    <a href = "/projects"><b>projects</b></a>
                </div>
            </div>
        </nav>

        {% block content %}{% endblock %}

        <footer class = "footer">
            <div class = "footer-container">
                <p>{{ year }} <a href = "/">Ruben Oliveira</a> - All rights reserved</p>
            </div>
        </footer>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-B455C5NQ5E"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-B455C5NQ5E');
        </script>

    </body>
</html>